body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #007bff;
    color: white;
    padding: 1rem;
    text-align: center;
    background-image: url('mm_flag.jpg'); /* Add background image */
    background-size: contain; /* Ensure the image covers the header */
    background-position: left; /* Center the image */
    background-repeat: no-repeat;
    
}

main {
    padding: 1rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 0.5rem;
    text-align: left;
}

th {
    background-color: #007bff;
    color: white;
}

.magnitude-low {
    color: green;
    font-weight: bold;
}

.magnitude-medium {
    color: orange;
    font-weight: bold;
}

.magnitude-high {
    color: red;
    font-weight: bold;
}
